out
node_modules
.vscode-test/
*.vsix
test_and_info/
/archiv
*.zip
*.7z
*.tgz
docs/book/
*.vscode/settings.json
src/test/res/tmp.nc
src/test/res/.vscode
src/test/res/.isg-cnc-ignore
extension-resources-output