.vsButton{
    border: none;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	width: 100%;
    height: 30px;
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
}

